* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

canvas{
  background-color: darkgray;
  cursor: normal;
}
.radio-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}